#php_flag display_errors off
Options -Indexes
#indexIgnore *

RewriteEngine On
#ErrorDocument 404 /404.html
ErrorDocument 404 Maaf-halaman-tidak-ditemukan

	RewriteRule   ^home/?$   									index.php?page=vhome
	RewriteRule   ^departemen/?$   								index.php?page=vdepartemen
	RewriteRule   ^angkatan/?$   								index.php?page=vangkatan
	RewriteRule   ^tahun-ajaran/?$   							index.php?page=vtahunajaran
	RewriteRule   ^tingkat/?$   								index.php?page=vtingkat
	RewriteRule   ^kelas/?$   									index.php?page=vkelas
	RewriteRule   ^semester/?$   								index.php?page=vsemester

	#guru dan pelajaran
	RewriteRule   ^guru/?$   									index.php?page=vguru
	RewriteRule   ^keluar/?$ 									index.php?page=logout 

# Send all blocked request to homepage with 403 Forbidden error!
#RewriteRule ^(.*)$ index.php [F,L]